body{

font-family:Arial;

margin:0;

background:#eef5ff;

font-size:20px;

transition:.4s;

}

header{

background:#1565c0;

color:white;

padding:20px;

text-align:center;

}

nav{

margin-top:15px;

}

nav a{

color:white;

text-decoration:none;

margin:15px;

font-weight:bold;

}

main{

padding:30px;

}

.acessibilidade{

text-align:center;

padding:15px;

background:#ddd;

}

button{

padding:10px;

margin:5px;

font-size:18px;

cursor:pointer;

}

.altoContraste{

background:black;

color:white;

}

.altoContraste header{

background:black;

}

.altoContraste nav a{

color:yellow;

}

.disco{

width:250px;

height:250px;

border-radius:50%;

margin:auto;

background:conic-gradient(

red,

orange,

yellow,

green,

cyan,

blue,

violet,

red

);

border:6px solid black;

}

.girar{

animation:girar 2s linear infinite;

}

@keyframes girar{

100%{

transform:rotate(360deg);

}

}

.cards{

display:flex;

justify-content:center;

gap:25px;

flex-wrap:wrap;

}

.card{

width:220px;

height:160px;

position:relative;

cursor:pointer;

transform-style:preserve-3d;

transition:1s;

}

.card:hover{

transform:rotateY(180deg);

}

.frente,.verso{

position:absolute;

width:100%;

height:100%;

display:flex;

justify-content:center;

align-items:center;

text-align:center;

padding:15px;

border-radius:15px;

backface-visibility:hidden;

font-size:18px;

}

.frente{

background:#4fc3f7;

}

.verso{

background:#81c784;

transform:rotateY(180deg);

}
